@model GraduationProject.Models.Extended.LoginViewModel
@{ ViewBag.Title = "Sign in"; }
@section style
{
    <link rel="stylesheet" href="~/Content/login.css" />  
    }

<div class="container content center-vertical">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-8 offset-lg-2 px-3 px-sm-5 custom-form" >
                    <div>
                        <i class="fas fa-user-circle fa-5x mb-1"></i>
                        <h2 class="heavy-text text-uppercase">Login Form</h2>
                        <hr class="bottom-line" />
                        <p>
                            <strong>Welcome Back, </strong> We are happy that you came back </p>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Email Address"><i class="fas fa-envelope"></i></span>
                        </div>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessageFor(model => model.Email)
                        @Html.ValidationMessage("InvalidEmail")
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" title="Password"><i class="fas fa-lock"></i></span>
                        </div>
                        @Html.EditorFor(model => model.PW, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                    </div>
                    <div class="error-msg">
                        @Html.ValidationMessage("InvalidPassword")
                        @Html.ValidationMessage("loginerror")
                        @Html.ValidationMessageFor(model => model.PW)
                    </div>

                    <input type="submit" value="Login" class="btn custom-btn col-12 mb-2" />
                    <p class="mb-0">
                        <strong>Not registered yet !!</strong> Click the link below and join us 
                        <a href=@Url.Action("Register","Patient") class="text-decoration-none">Register</a>
                    </p>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}